# Ba.cnf Knowledgebase for coloring the map of Australia
# Colors: r b g
# Lands: WA, NT, Q, NSW, V, SA, T
# Neighboors:
# WA - NT, SA
# NT - WA, SA, Q
# Q - NT, SA, NSW
# NSW - SA, V
# V, SA, NSW
# SA - WA, NT, Q, NSW, V
# T - 
# KB generated with VIM 
-A -D
-A -P
-B -E
-B -Q
-C -F
-C -R
A
-B
-C
-D -A
-D -P
-D -G
-E -B
-E -Q
-E -H
-F -C
-F -R
-F -I
D
-E
-F
-G -D
-G -P
-G -J
-H -E
-H -Q
-H -K
-I -F
-I -R
-I -L
G
-H
-I
-J -P
-J -M
-K -Q
-K -N
-L -R
-L -O
J
-K
-L
-M -P
-M -J
-N -Q
-N -K
-O -R
-O -L
M
-N
-O
-P -A
-P -D
-P -G
-P -J
-P -M
-Q -B
-Q -E
-Q -H
-Q -K
-Q -N
-R -C
-R -F
-R -I
-R -L
-R -O
P
-Q
-R
S
-T
-U
