# Ba.cnf Knowledgebase for coloring the map of Australia
# Colors: r b g
# Lands: WA, NT, Q, NSW, V, SA, T
# Neighboors:
# WA - NT, SA
# NT - WA, SA, Q
# Q - NT, SA, NSW
# NSW - SA, V
# V, SA, NSW
# SA - WA, NT, Q, NSW, V
# T - 
# KB generated with VIM 
