# Ba.cnf Knowledgebase for coloring the map of Australia
# Colors: r b g
# Lands: WA, NT, Q, NSW, V, SA, T
# Neighboors:
# WA - NT, SA
# NT - WA, SA, Q
# Q - NT, SA, NSW
# NSW - SA, V
# V, SA, NSW
# SA - WA, NT, Q, NSW, V
# T - 
# KB generated with VIM 
-D -P
A
-E -Q
B
-F -R
C
-B -C
A
-A -P -G
D
-B -Q -H
E
-C -R -I
F
-E -F
D
-D -P -J
G
-E -Q -K
H
-F -R -L
I
-H -I
G
-P -M
J
-Q -N
K
-R -O
L
-K -L
J
-P -J
M
-Q -K
N
-R -L
O
-N -O
M
-A -D -G -J -M
P
-B -E -H -K -N
Q
-C -F -I -L -O
R
-Q -R
P
-T -U
S
