# 1b.cnf Knowledgebase for coloring the map of Australia
# Additional rule: Make WA red
# Colors: r b g
# Lands: WA, NT, Q, NSW, V, SA, T
# Neighboors:
# WA - NT, SA
# NT - WA, SA, Q
# Q - NT, SA, NSW
# NSW - SA, V
# V, SA, NSW
# SA - WA, NT, Q, NSW, V
# T - 
# KB generated with VIM 
# A = red WA
# B = blue WA
# C = green WA
# D = red NT
# E = blue NT
# F = green NT
# G = red Q
# H = blue Q
# I = green Q
# J = red NSW
# K = blue NSW
# L = green NSW
# M = red V
# N = blue V
# O = green V
# P = red SA
# Q = blue SA
# R = green SA
# S = red T
# T = blue T
# U = green T
A -B -C
-D -E F
G -H -I
-J -K L
M -N -O
-P Q -R
S -T -U
